<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="College analytics">
    <meta name="author" content="Kerdon Chapman, Farhan Chowdury, Noel Singh">
    <link rel="shortcut icon" href="../static/logo/apollo_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles/settings.css">
    <title>All College Analytics</title>
</head>

<body>

    {% include "components/navbar.html.jinja" %}

    {# Debugging stuff #}
    {# {{colleges}} #}
    {# {{comparing}} #}
    {# {{category}} #}
    {# {{empty}} #}


    {# If there are no colleges on the list #}
    {%if colleges==()%}
    <main>
        <div class="container d-flex justify-content-center row mx-auto" style="margin-top: 25vh;">

            <h1 class="display-5 fw-bold text-center col-12 my-5">Click Below to Start Adding Colleges to
                Your List.</h1>

            <a href="/browse" class="mx-auto btn btn-outline-warning custom-button col-3">Browse Colleges</a>

        </div>
    </main>

    {# Else #}
    {%else%}

    {# If every college on the list is invalid #}
        {%if empty==True%}

    <main>
        <div class="container d-flex justify-content-center row mx-auto" style="margin-top: 15vh;">

            <div class="mt-5 mb-2">
                <h1 class="display-5 fw-bold text-center col-12"> All colleges on your list are invalid!</h1>
                <p class="fs-4 fw-bold text-center col-12 text-secondary">Please add valid colleges or remove invalid
                    colleges below</p>
            </div>

            <a href="/browse" class="mx-auto btn btn-outline-warning custom-button col-3">Browse Colleges</a>

        </div>
    </main>
    

    {# Else #}
        {%else%}

    <main class="container row g-4 mx-auto">

        <div class="my-5">
            <h1 class="display-5 fw-bold text-body-emphasis custom-txt text-center">Analytics</h1>
            <p class="lead mb-4 text-center">Add Colleges to Your List, Generate Graphs</p>
        </div>

        {# Generated Graph #}
        <div class="container flex-column d-flex align-items-center justify-content-center">
            <img class="col-12 border border-warning px-5 py-5" src="/plot.png" alt="my plot">
        </div>
    </main>

        {%endif%}

    {# Change category #}
    <div class="d-flex justify-content-center container my-5 mx-auto">
        <div class="dropdown col-8">
            <button class="btn custom-button-inverted dropdown-toggle col-12 fs-4" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">{{category}}
            </button>

            <form id="comparing-dropdown">

                <ul class="dropdown-menu col-12" style="position: static;">
                    <li>
                        <button form="comparing-dropdown" name="category"
                            class="dropdown-item custom-txt fs-5" value="1">SAT scores</button>
                    </li>
                    <li>
                        <button form="comparing-dropdown" name="category"
                            class="dropdown-item custom-txt fs-5" value="2">Tuition</button>
                    </li>
                    <li>
                        <button form="comparing-dropdown" name="category"
                            class="dropdown-item custom-txt fs-5" value="3">Population</button>
                    </li>
                </ul>

            </form>
        </div>
    </div>

    <p class="lead mb-4 text-center">*Colleges that Appear Red are Missing the Requested Data*</p>

    <div class="d-flex justify-content-center container row my-5 mx-auto">

        {# Individual college cards #}
        {%for college in colleges%}

        {# If the college is invalid #}
            {%if college[comparing]==None%}
        <div class="col-4 my-3" style="height: 200px;">
            <div class="card h-100 border-danger">
                <div class="card-body">

                    <div class="">
                        <h5 class="card-title text-danger">
                            {{college['name']}}</h5>
                        <p class="card-text text-danger">
                            {{college['city']}}
                            , {{college['state']}}
                        </p>
                    </div>
                </div>
                <div class="card-footer d-flex flex-row border-danger">

                    <div>
                        <a href="/college/{{college['id']}}" class="btn btn-danger">View
                            College</a>
                    </div>


                    <div class="ms-auto">
                        <a href="/analytics/{{college['id']}}/remove" class="btn btn-outline-danger">Remove College</a>
                    </div>

                </div>
            </div>
        </div>

        {# Else if the college is valid #}
            {%elif college[comparing]!=None%}

        <div class="col-4 my-3" style="height: 200px;">
            <div class="card h-100 custom-border">
                <div class="card-body">

                    <div class="">
                        <h5 class="card-title">
                            {{college['name']}}</h5>
                        <p class="card-text text-secondary">
                            {{college['city']}}
                            , {{college['state']}}
                        </p>
                    </div>
                </div>
                <div class="card-footer d-flex flex-row">

                    <div>
                        <a href="/college/{{college['id']}}" class="btn btn-outline-warning custom-button">View
                            College</a>
                    </div>


                    <div class="ms-auto">
                        <a href="/analytics/{{college['id']}}/remove" class="btn btn-outline-danger">Remove College</a>
                    </div>

                </div>
            </div>
        </div>
            {%endif%}
        {%endfor%}

    </div>

    {%endif%}

    <script src="/docs/5.3/assets/js/color-modes.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="/static/scripts/script.js"></script>

</body>

</html>