<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <script src="/docs/5.3/assets/js/color-modes.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="/static/scripts/script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Change personal information and college preferences.">
    <meta name="author" content="Kerdon Chapman, Farhan Chowdury, Noel Singh">
    <link rel="shortcut icon" href="../static/logo/apollo_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles/settings.css">
    <title>User and College Settings</title>
</head>

<body>

    {% include "components/navbar.html.jinja" %}

    {% for category, message in get_flashed_messages(with_categories=true) %}

    {%if category=="error"%}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>

    {%elif category=="success"%}
    <div class="alert alert-warning" role="alert">
        {{ message }}
    </div>
    {%endif%}

    {% endfor %}

    <div class="container col-6 mt-5">
        <h1 class="h3 mb-3 fw-bold text-center custom-txt">College Parameters</h1>
        <form action="/settings/update" method="post">
            <div class="form-floating my-4">
                <input type="number" name="sat_score" class="form-control" id="floatingInput" required
                    value="{{results['sat_score']}}" min="0">
                <label for="floatingInput">SAT Score</label>
            </div>

            <div class="form-floating my-4">
                <input type="text" name="tuition_budget" class="form-control" id="floatingInput" required
                    value="{{results['tuition_budget']}}">
                <label for="floatingInput">Tuition</label>
            </div>

            <div class="form-floating my-4">
                <input type="number" name="zip_code" class="form-control" id="floatingInput" required
                    value="{{results['zip_code']}}" min="0">
                <label for="floatingInput">Zip code</label>
            </div>

            <div class="form-floating my-4">
                <input type="text" name="population_preferences" class="form-control" id="populationInput" required
                    value="{{ results['population_preferences'] }}" min="0" step="1">
                <label for="floatingInput">Population preferences</label>
            </div>

            <button class="btn btn-outline-warning w-100 py-2" type="submit">Update Parameters</button>
        </form>
    </div>

    </form>

    <div class="mt-5 b-example-divider py-5"></div>

    <div class="container col-6 mt-5">
        <main class="form-signin w-100 m-auto">
            <form action="/settings/update_user" method="post">

                <div class="container mt-5">
                    <h1 class="h3 mb-3 fw-bold text-center custom-txt">Account settings</h1>

                    <div class="form-floating my-3">
                        <input type="text" name="username" class="form-control" id="floatingInput"
                            placeholder="JohnDoe123" required value="{{results['username']}}">
                        <label for="floatingInput">Username</label>
                    </div>

                    <div class="form-floating my-3">
                        <input type="password" name="password" class="form-control" id="floatingPassword"
                            placeholder="password" required value="{{results['password']}}">
                        <label for="floatingPassword">Password</label>
                        <button type="button" id="togglePassword" class="btn btn-outline-warning">
                            Show password
                        </button>
                    </div>

                    <div class="form-floating my-3">
                        <input type="password" name="confirm_password" class="form-control" id="floatingPassword2"
                            placeholder="Re-enter password" required>
                        <label for="floatingPassword">Re-Enter Password</label>
                        <button type="button" id="toggleRePassword" class="btn btn-outline-warning">
                            Show password
                        </button>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="form-floating mx-1 my-3 col-6">
                            <input type="text" name="first_name" class="form-control" id="floatingInput"
                                placeholder="John" required value="{{results['first_name']}}">
                            <label for="floatingInput">First Name</label>
                        </div>

                        <div class="form-floating mx-1 my-3 col-6">
                            <input type="text" name="last_name" class="form-control" id="floatingInput"
                                placeholder="Doe" required value="{{results['last_name']}}">
                            <label for="floatingInput">Last Name</label>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="form-floating mx-1 my-3 col-8">
                            <input type="email" name="email" class="form-control" id="floatingInput"
                                placeholder="name@example.com" required value="{{results['email']}}">
                            <label for="floatingInput">Email Address</label>
                        </div>

                        <div class="form-floating mx-1 my-3 col-4">
                            <input type="number" name="zip_code" class="form-control" id="floatingInput"
                                placeholder="12345" required value="{{results['zip_code']}}">
                            <label for="floatingInput">Zip Code</label>
                        </div>
                    </div>

                    <button class="btn btn-outline-warning w-100 py-2" type="submit">Update Info</button>
                    <br><br>
            </form>
        </main>
    </div>

    </div>

</body>

</html>