@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');


::placeholder {
    color: red;
}

.marcellus-sc-regular {
    font-family: "Marcellus SC", serif;
    font-weight: 400;
    font-style: normal;
  }  

:root{
    --bs-emphasis-color:#DEB64B;
    --bs-body-bg:#202020;
    --bs-secondary-color:#ffffff; 
}

.btn-outline-warning{
    --bs-btn-color: #DEB64B;
    --bs-btn-border-color: #DEB64B;
    /* --bs-btn-hover-bg: #DEB64B; */
}

body{
    background-color: #202020;
    color: white;
}
.navbar ul{
    list-style-type: none;
    overflow: hidden;
}
.navbar a{
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
.navbar a:hover{
    color: #202020;
    background-color: #DEB64B;
}
.navbar li{
    float: center;
}
.navbar a.btn {
    padding: 7.5px;
}

.text-center {
    text-align: center;
  }
/* mouse over link */
a:hover {
    color: #202020;
}
@media screen and (max-width: 600px) {
    
  }

.custom-txt{
    color:#DEB64B
}

#brand-name:hover{
    background-color: #212529;
    color: #DEB64B;
}

.card{
    color: #ffffff;
}

.form-control{
    color:#ffffff
}

hr{
    margin: 0;
    color:#DEB64B;
}

#cog{
    color:#DEB64B;
}

#graph{
    color:#DEB64B;
}

#logout{
    color: #DEB64B;
}
/* .underline {
    text-decoration: underline;
    text-decoration-color: #202020;
  } */
/* .asd:hover{
    color: white;
} */
/* 
.asd:active{
    color:white;
} */