@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');


::placeholder {
    color: red;
}

.marcellus-sc-regular {
    font-family: "Marcellus SC", serif;
    font-weight: 400;
    font-style: normal;

  }  

:root{
    --bs-emphasis-color:#DEB64B;
    --bs-body-bg:#202020;
    --bs-secondary-color:#ffffff; 
}

.btn-outline-warning {
    --bs-btn-color: #DEB64B;
    --bs-btn-border-color: #DEB64B;
    /* --bs-btn-hover-bg: #DEB64B; */
}

body {
    background-color: #202020;
    color: white;
}

.navbar ul {
    list-style-type: none;
    overflow: hidden;
}

.navbar a {
    display: block;
    text-align: center;
    /* color: white; */
    padding: 15px;
}

.navbar a:hover {
    background-color: #DEB64B;
}

.navbar li {
    float: center;
}

.navbar a.btn {
    padding: 7.5px;
}

.text-center {
    text-align: center;
}

/* mouse over link */
a:hover {
    color: #202020;
}

@media screen and (max-width: 600px) {}

.custom-txt {
    color: #DEB64B
}

.card {
    color: #ffffff;
}

.form-control {
    color: #ffffff
}

/* .asd:hover{
    color: white;
} */
/* 
.asd:active{
    color:white;
} */