@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

* {
    --bs-warning-rgb: var(--bs-btn-color)
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

::placeholder {
    color: red;
}

#togglePassword,
#toggleRePassword {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    /* background: none; */
}

.marcellus-sc-regular {
    font-family: "Marcellus SC", serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --bs-emphasis-color: #DEB64B;
    --bs-body-bg: #202020;
    --bs-secondary-color: #ffffff;
}

.btn-outline-warning {
    --bs-btn-color: #DEB64B;
    --bs-btn-border-color: #DEB64B;
    /* --bs-btn-hover-bg: #DEB64B; */
}

body {
    background-color: #202020;
    color: white;
}

/* Navbar styling */

.navbar ul {
    list-style-type: none;
    overflow: hidden;
}

.navbar a {
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.navbar a:hover {
    color: #202020;
    background-color: #DEB64B;
}

.navbar li {
    float: center;
}

.navbar a.btn {
    padding: 7.5px;
}

.text-center {
    text-align: center;
}

/* mouse over link */
a:hover {
    color: #202020;
}

/* College Stats Cards */
.college-stats {
    border-color: #DEB64B;
    border-width: 2px;
    background-color: #212529;
}

@media screen and (max-width: 600px) {}

.custom-txt {
    color: #DEB64B
}

#brand-name:hover {
    background-color: #212529;
    color: #DEB64B;
}

.card {
    color: #ffffff;
}

.form-control {
    color: #ffffff
}

hr {
    margin: 0;
    color: #DEB64B;
}

.custom-button {
    color: #DEB64B;
    background-color: transparent;
    border-color: #DEB64B;
}

.custom-button-inverted {
    color: #202020;
    background-color: #DEB64B;
    border-color: transparent;
}

.custom-button:hover {
    color: #202020;
    background-color: #DEB64B;

}

.custom-button-inverted:hover {
    color: #DEB64B;
    background-color: #202020;
    border-color: #DEB64B;

}

.form-control:focus {
    color: #ffffff;
}

#cog {
    color: #DEB64B;
}

#cog:hover {
    color: #202020;
}

#magnifying-glass {
    color: #DEB64B;
}

#magnifying-glass:hover {
    color: #202020;
}

#graph {
    color: #DEB64B;
}

#graph:hover {
    color: #202020;
}

#logout {
    color: #DEB64B;
}

#logout:hover {
    color: #202020;
}

#active-page {
    background-color: #DEB64B;
    color: black;
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.border-warning {
    color: #DEB64B;
}

.custom-border {
    border-color: #DEB64B;
}

.no-underline a{
    text-decoration: none;
}

/* .underline {
    text-decoration: underline;
    text-decoration-color: #202020;
  } */
/* .asd:hover{
    color: white;
} */
/* 
.asd:active{
    color:white;
} */