<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <div flex-container class="d-flex flex-row px-1 me-auto mb-2 mb-lg-0 align-items-center">

            <div>
                <img src="/static/logo/logo2.png" alt="Logo" width="50" height="50" class="rounded d-block">
            </div>
            <div class="navbar-brand p-1 marcellus-sc-regular">
                <a href="/" class="custom-txt" id="brand-name">
                    Apollo
                </a>
            </div>

        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav mb-2 mb-lg-0 topnav-right">

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {%if current_user.is_authenticated%}


                    <li class="nav-item">

                        <a id="graph" class="btn px-1 no-hover" href="/analytics" data-bs-placement="bottom" data-bs-toggle="tooltip" data-bs-title="Graphs"><svg viewBox="0 0 15 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg" width="30" height="23">
                                <path d="M0 14.5h15M5.5 12V6m4 6V3m4 9V0m-12 9v3" stroke="currentColor"></path>
                            </svg>
                        </a>
                    </li>

                    <li class="nav-item px-1">
                    
                        <a id="cog" class="btn px-1 no-hover" href="/settings" data-bs-placement="bottom" data-bs-toggle="tooltip" data-bs-title="Settings"><svg viewBox="0 0 15 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg" width="25" height="25">
                                <path clip-rule="evenodd"
                                    d="M5.944.5l-.086.437-.329 1.598a5.52 5.52 0 00-1.434.823L2.487 2.82l-.432-.133-.224.385L.724 4.923.5 5.31l.328.287 1.244 1.058c-.045.277-.103.55-.103.841 0 .291.058.565.103.842L.828 9.395.5 9.682l.224.386 1.107 1.85.224.387.432-.135 1.608-.537c.431.338.908.622 1.434.823l.329 1.598.086.437h3.111l.087-.437.328-1.598a5.524 5.524 0 001.434-.823l1.608.537.432.135.225-.386 1.106-1.851.225-.386-.329-.287-1.244-1.058c.046-.277.103-.55.103-.842 0-.29-.057-.564-.103-.841l1.244-1.058.329-.287-.225-.386-1.106-1.85-.225-.386-.432.134-1.608.537a5.52 5.52 0 00-1.434-.823L9.142.937 9.055.5H5.944z"
                                    stroke="currentColor" stroke-linecap="square" stroke-linejoin="round"></path>
                                <path clip-rule="evenodd" d="M9.5 7.495a2 2 0 01-4 0 2 2 0 014 0z" stroke="currentColor"
                                    stroke-linecap="square" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </li>

                    <li class="nav-item">
                    
                        <a id="magnifying-glass" class="btn px-1 no-hover" href="/browse" data-bs-placement="bottom" data-bs-toggle="tooltip" data-bs-title="Search College"><svg viewBox="0 0 15 15"
                                fill="none" xmlns="http://www.w3.org/2000/svg" width="25" height="25">
                                <path d="M14.5 14.5l-4-4m-4 2a6 6 0 110-12 6 6 0 010 12z" stroke="currentColor"></path>
                            </svg>
                        </a>
                    </li>

                    <li class="my-auto px-1 custom-txt fs-5 ">
                        Welcome {{current_user.name}}
                        <div class="container">
                            <hr class="opacity-75">
                        </div>
                    <li class="nav-item px-1">
                        <a id="logout" class="btn px-1" href="/logout" data-bs-toggle="tooltip" data-bs-title="Logout"><svg viewBox="0 0 15 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg" width="30" height="23">
                                <path d="M13.5 7.5l-3 3.25m3-3.25l-3-3m3 3H4m4 6H1.5v-12H8" stroke="currentColor">
                                </path>
                            </svg></a>
                    </li>
                    {%endif%}
            </div>

        </ul>
    </div>

    </div>
</nav>